body {
    background-image: url("../images/bg.png");
}

main {
    width: 900px;
    padding: 50px 47px;
    margin: 0 auto;
    background-color: white;
    font-family: 'Helvetica Neue';
    font-size: 13px;
}

h1 {
    font-size: 52px;
    color: #545454;
    font-weight: bold;
    line-height: 1.5em;
    font-family: 'Terminal Dosis';
}

header h2 {
    line-height: 2em;
}

header img {
    float: right;
    vertical-align: top;
}

img a {
    width: 34px;
    height: 22px;
}

main>img, main>nav {
    display: block;
    width: 100%;
    margin: 0 auto;
}

nav {
    margin: 25px 0;
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-color: #606060;
    background-color: #fafafa;
}

nav>ul {
    width: 100%;
    text-align: center;
    padding: 1em 0;
    line-height: 2em;
}

nav>ul>li {
    display: inline-block;
    width: 15%;
    text-align: center;
    position: relative;
}

nav>ul>li>ul {
    display: none;
}

nav>ul>li:hover>ul {
    display: block;
    position: absolute;
    background-color: #fafafa;
    text-align: center;
    width: 100%;
}

nav>ul>li>ul>li {
    height: 33px;
}

/***  ***/

strong {
    font-weight: bold;
}

main>cite {
    text-align: center;
    color: #807966;
    display: block;
}

main>h2 {
    text-align: center;
    font-size: 28px;
    font-family: 'Terminal Dosis';
    font-weight: bold;
    margin-top: 38px;
    margin-bottom: 22px;
}

main>p {
    margin-top: 30px;
    color: #807966;
}

main hr {

    margin-top: 30px;
    height: 40px;
    border: solid 1px ;
    background-color:#fafafa;
    border-color: rgb(204, 204, 204);
    border-left: none;
    border-right: none;
}
/*** FOOTER ***/
footer{
    color: #545454;;
}
h3 {
  text-align: center;
  line-height: 75px;
  font-size: 15px;
}

.articles {
  border: none;
  border-top: solid 1px rgb(204, 204, 204);
  background-color:#fafafa;
  width: 100%;
  text-align: justify;
}

article {
  padding: 20px 0;
  text-align: justify;
  display: inline-block;
  height: 235px;
  width: 24%;
  vertical-align:top;

}
article:first-child{
    padding-left: 10px;
}
.articles:after {
 content: '';
 width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
 display: inline-block;
}
footer h2{
    font-size: 20px;
    line-height: 2em;
}
footer li{
    line-height: 1.5em;
    text-align: left;
}
